body{
  background-color: blue;
}

.greenBorder{
  margin: 10px;
  padding: 5px;
  border: green 2px dashed;
  font-family: arial;
  color: magenta;
}

.whiteBorder{
  border: white 2px dashed;
  padding: 10px;
}

.blackBorder{
  border: black 6px solid;
  margin: 20%;
}

img{
  display: block;
  width: 50%;
}
