body{
  background-color: blue;
}

.greenBorder{
  margin: 18px;
  padding: 6px;
  border: green 1.5px dashed;
  font-size: 12px;
  font-family: arial;
  color: magenta;
}

.blackBorder{
  border: black 4px solid;
  margin: 120px;
}

img{
  border: white 1.5px dashed;
  padding: 18px;
  width: 240px;
}
